extends layout

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/index.css")
  //- add page specific js
  script(src="/javascripts/index.js" type="module" defer)

block content
  .topicHeading
      h2 Topics
  .topics
    .topic_grid
      each topic in topics
        ul
          li.topicItem: a#topicLinks(href=`/posts/?topic=${topic.id}`)= topic.name
            img#topicPics(src=`/images/topicPics/topic${topic.id}.png`)
  .postsFeed
    div
      each post in posts
        div#postsTitle
          h3= post.title
          p= post.textField
