extends layout

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/index.css")
  link(rel='stylesheet' href='/stylesheets/reset.css')
  //- add page specific js
  script(src="/javascripts/search.js" type="module" defer)
  script(src="/javascripts/index.js" type="module" defer)

block content
  a#createPostBtn(href="/posts/create") Create a Post
  .topicHeading
    h2#topicTitle Topics
  .topics
    .topic_grid
      each topic in topics
        ul
          li.topicItem: a#topicLinks(href=`/posts/?topic=${topic.id}`)= topic.name
            img#topicPics(src=`/images/topicPics/topic${topic.id}.png`)
  .postsFeed
    div
      each post in posts
        div#postsTitle
          h3#titleOfPost= post.title
          p#pOfPost= post.textField
