extends layout

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/index.css")
  //- add page specific js
  script(src="/javascripts/index.js" type="module" defer)

block content
  .topics
    h1 Topics
    div
      each topic in topics
        ul
          li: a#topicLinks(href=`/posts/?topic=${topic.id}`)= topic.name
            img#topicPics(src=`/images/topicPics/topic${topic.id}.png`)
