doctype html
html
  head
      block head
        title= title
        link(rel='stylesheet' href='/stylesheets/reset.css')
  body
    ul
      li: a(href="/") Home
      li: a(href="/users/login") Login
      li: a(href="/users/logout") Logout
      li: a(href="/users/register") Register
    h2=title
    block content
