extends layout.pug

block content
  table
    thead
      tr
        th UserId
        th Title
        th Text Field
    tbody
      tr
        td=post.userId
        td=post.title
        td=post.textField
