extends layout.pug

block content
  .createPostForm
    form(action=`/posts/edit/${post.id}` method='post')
      input(type='hidden' name='_csrf' value=csrfToken)
      div.postFieldInput
        label Title
        input(name='title' value=post.title)
      div.postFieldInput
        label Body
        textarea#editTextArea(name='textField')= post.textField
      .updateEditBtn
        button#updateBtnId(type="submit") Update
