extends layout.pug

block content

    div#postSearchDiv
        each post in posts
            div.searchPost
                h3: a(href=`/posts/${post.dataValues.id}` class="titleOfPost")= post.dataValues.title
                p.pOfPost= post.dataValues.textField
