extends layout.pug
include utils.pug

block content
    +ValidationErrorSummary(errors)
    form(method="post" action="/users/login")
        input(type="hidden" name="_csrf" value=csrfToken)
        div
            label Email Address
            input(type='email' name='emailAddress' required)
        div
            label Password
            input(type='password' name='password' required)
        div
            button(type='submit') Submit
