body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, a, ol, li, ul, div, span,
body, header, nav {
  font-size: 1rem;
  color: inherit;
  background-color: transparent;
  margin: 0;
  padding: 0;
  outline: 0;
  font-weight: normal;
}

h1 {
  font-size: 2rem;
}

.navbar {
  display: flex;
  list-style-type: none;
  background-color: rgb(233, 233, 233);
}

#home {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  height: 65px;
  width: 75px;
}

#welcomeTitle {
  text-align: center;
}

.loginPage {
  background-image: url('/images/nintendo.png');
  display: flex;
  justify-content: center;
}

.loginForm {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  background-color: white;
  box-shadow: 10px 10px 10px 4px rgba(22, 22, 24, 0.6);
  border-radius: 15px;
  position: relative;
  top: 110px;
  padding: 115px;
  width: 35%;
  max-width: 400px;
  max-height: 710px;
  list-style-type: none;
}

.registerUser {
  padding: 10px;
}

#loginTitle {
  position: absolute;
  top: 40px;
  font-size: 40px;
}

#slogan {
  /* display: flex; */
  font-size: 20px;
  min-width: 170px;
  position: absolute;
  top: 84px;
  padding: 0px 0px 0px 4.5px;
}

#title-format {
  text-decoration: underline solid black 1.5px;
}

.input-hover:hover {
  border: 1px solid blue;
}

#formInput1, #formInput2, #formInput3, #formInput4, #formInput5, #formInput6, #formInput7 {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding-bottom: 15px;
  font-weight: 550;
}

#submitbutton {
  display: flex;
  justify-content: center;
}
