body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
ol,
li,
ul,
div,
span,
body,
header,
nav {
  font-size: 1rem;
  color: inherit;
  background-color: transparent;
  margin: 0;
  padding: 0;
  outline: 0;
  font-weight: normal;
}

h1 {
  font-size: 2rem;
}

::-webkit-scrollbar {
  width: 0px;
}

/* #scrollpath {
  position: fixed;
  top: 0;
  right: 0;
  width: 15px;
  height: 100%;
  background: rgba(255,255,255,0.05)
} */

/* #progressbar {
  position: fixed;
  top: 0;
  right: 0;
  width: 15px;
  height: 100%;
  background: linear-gradient(to top, #008aff,#00ffe7);
  animation: animate 5s linear infinite;
} */

/* @keyframes animate {
  0%,100% {
    filter: hue-rotate(0deg);
  }
  50% {
    filter: hue-rotate(360deg);
  }
} */

/* #progressbar:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, #008aff,#00ffe7);
  filter:blur(10px)
} */

/* #progressbar:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, #008aff,#00ffe7);
  filter:blur(30px)
} */

#navbar {
  position: fixed;
  display: flex;
  justify-content: flex-end;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  width: 100%;
  height: 60px;
  list-style-type: none;
  background-color: rgb(26, 26, 26);
}

#navbarLi1 {
  position: relative;
  right: 46%;
}

#navbarLi2 {
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  right: 10px;
  color: white;
  text-transform: uppercase;
}

.topics {
  position: fixed;
  border: 1px solid rgba(22, 22, 24, 0.6);
  border-radius: 9px;
  width: fit-content;
  height: 745px;
  overflow-y: scroll;
  overflow-x: none;
  background-color: rgb(26, 26, 26);
  box-shadow: 2px 0px 3px rgba(22, 22, 24, 0.6);
  padding-left: 8px;
  padding-top: 8px;
  margin-left: 70px;
  color: white;
}

.topicItem {
  max-width: 100em;
  max-width: 36ch;
}

/* .topic_grid {

} */

.topicHeading {
  left: 130px;
  top: 90px;
  color: black;
  font-weight: bold;
  border: 2px solid black;
  border-radius: 5px;
  background-color: rgb(238, 238, 238);
  width: fit-content;
  box-shadow: 0px 0px 3px 3px rgba(22, 22, 24, 0.6);
  position: fixed;
  margin-left: 70px;
}

#loginRegisterIcon {
  height: 65px;
  width: 75px;
}

#homeIcon {
  height: 60px;
  width: 75px;
  background-color: rgb(26, 26, 26);
}

#welcomeTitle {
  max-width: 700px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px 18px 5px 18px;
  font-size: 40px;
  color: white;
  font-weight: 900;
  border: 2px solid black;
  border-radius: 5px;
  background-color: rgb(26, 26, 26);
  box-shadow: 0px 0px 3px 3px rgba(22, 22, 24, 0.6);
}

.titleBox {
  display: flex;
  justify-content: center;
}

.titleBoxTopics {
  display: flex;
  justify-content: center;
  padding-top: 75px;
  margin-bottom: -15px;
}

.loginPage {
  background-image: url("/images/nintendo.png");
  display: flex;
  justify-content: center;
  background-size: cover;
}

.homePageBackground {
  background-image: url("/images/racing.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.loginForm {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  background-color: white;
  box-shadow: 0px 0px 3px 3px rgba(22, 22, 24, 0.6);
  border-radius: 15px;
  position: relative;
  top: 130px;
  padding: 115px;
  width: 35%;
  max-width: 400px;
  max-height: 710px;
  list-style-type: none;
}

.loginForm label {
  font-weight: bold;
}

.loginForm button {
  padding: 7px 21px;
  margin-top: 10px;
  background-color: rgb(251, 84, 84);
  border: none;
  color: white;
  font-size: 20px;
  cursor: pointer;
  transition: background 0.2s ease-in-out;
  border-radius: 20px;
}

.loginForm input {
  border-radius: 5px;
  padding: 4px 12px;
  border: 1px solid gray;
}

.demo-button {
  position: absolute;
}

button:hover {
  background-color: rgb(195, 62, 62);
  color: white;
}

.registerUser {
  padding: 10px;
}

#loginTitle {
  position: absolute;
  top: 0;
  font-size: 66px;
  color: rgba(207, 0, 0, 0.6);
}

#slogan {
  font-size: 20px;
  min-width: 170px;
  position: absolute;
  top: 75px;
  right: 110px;
  padding: 0px 0px 0px 8.5px;
  text-align: center;
}

#title-format {
  /* text-decoration: underline solid black 1.5px; */
  padding-top: 25px;
  padding-bottom: 5px;
  /* border-bottom: 1px solid black; */
  width: 100%;
}

.input-hover:hover {
  border: 1px solid blue;
}

.loginForm a {
  font-size: 14px;
  color: gray;
}

.loginForm a:hover {
  text-decoration: underline;
}

#formInput1,
#formInput2,
#formInput3,
#formInput4,
#formInput5,
#formInput6,
#formInput7 {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding-bottom: 15px;
  font-weight: 550;
}

#submitbutton {
  display: flex;
  justify-content: center;
}

#submitCreatePost {
  padding: 7px 21px;
  margin-top: 10px;
  background-color: rgb(251, 84, 84);
  border: none;
  color: white;
  font-size: 20px;
  cursor: pointer;
  transition: background 0.2s ease-in-out;
  border-radius: 20px;
  margin-bottom: 20px;
}

#searchBar {
  position: fixed;
  z-index: 110;
  display: flex;
  justify-content: center;
  align-items:center;
  border-radius: 40px;
  /* padding: 5px; */
  margin-top: 25px;
  margin-left: 25px;
  /* background: white; */
  outline: none;
}

#searchBar:hover #searchInput{
  width: 240px;
  transition: 0.8s ease-out;
}

/* search-txt */
#searchInput {
  border-radius: 40px;
  margin-right: -20px;
  border: none;
  outline: none;
  line-height: 10px;
  width: 0px;
}


#searchBtn {
  border-radius: 40px;
  border: none;
  outline: none;
  transition: 0.8s;
}

/* #searchBar {
  position: relative;
  z-index: 1000;
  top: 29px;
  transform: translate((-50%,-50%));
  background: white;
  height: 40px;
  border-radius: 40px;
  padding: 10px;
} */

#searchBarIcon {
  height: 20px;
}

#topicPics {
  height: 40px;
  width: 50px;
}

#topicLinks {
  /* color: rgba(3, 47, 167, 0.6); */
  color: white;
  font-weight: bold;
  font-size: 16px;
}

.postsFeed {
  width: fit-content;
  /* position: relative; */
  /* left: 39%; */
  margin-left: 675px;
  margin-top: 40px;
  border-radius: 15px;
  padding: 10px;
  max-width: 40ch;
  top: 40px;
}

.postsTitle {
  border-radius: 8px;
  margin: 10px 0px 10px 0px;
  background-color: rgb(26, 26, 26);
  box-shadow: 0px 0px 3px 3px rgba(22, 22, 24, 0.6);
  padding: 10px;
  width: fit-content;
  min-width: 500px;
  color: white;
  border: 2px solid black;
}

#createPostBtn {
  position: relative;
  width: fit-content;
  border: 1px solid black;
  background-color: red;
  left: 46.5%;
  color: white;
  top: 40px;
  border-radius: 10px;
  padding: 5px;
}

#createPostBtn:hover {
  position: relative;
  width: fit-content;
  border: 1px solid black;
  background-color: rgb(13, 133, 2);
  left: 46.5%;
  color: white;
  top: 40px;
  border-radius: 10px;
  padding: 5px;
  box-shadow: 0px 0px 3px 3px rgba(22, 22, 24, 0.6);
}

.titleOfPost {
  font-size: 20px;
  font-weight: 600;
}

.pOfPost {
  padding-top: 5px;
  padding-left: 20px;
}

#topicTitle {
  font-size: 32px;
  padding: 3px;
  background-color: rgb(26, 26, 26);
  color: white;
}

.createPostForm {
  width: fit-content;
  position: relative;
  display: flex;
  justify-content: center;
  left: 37.5%;
  border: 1px solid rgba(22, 22, 24, 0.6);
  border-radius: 8px;
  margin: 10px 0px 140px 0px;
  background-color: rgb(26, 26, 26);
  box-shadow: 0px 0px 3px 3px rgba(22, 22, 24, 0.6);
  padding: 10px 0px 20px 0px;
  max-width: 40ch;
  top: 40px;
  min-width: 500px;
  min-height: 350px;
  max-height: 800px;
  overflow-y: auto;
  overflow-x: hidden;
  color: white;
}

.postFieldInput {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

#postTextArea {
  min-width: 350px;
  min-height: 100px;
}
#postTitleArea {
  min-width: 250px;
}

.topicPostInput {
  margin-top: 15px;
}

.submitButtonDiv {
  display: flex;
  justify-content: center;
}

#topicNameInput {
  padding-left: 8px;
}

.pageContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.delete-edit {
  display: flex;
  justify-content: flex-end;
}

.postDisplay {
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  /* flex-direction: column; */
  background-color: rgb(26, 26, 26);
  color: white;
  border: 2px solid black;
  box-shadow: 0px 0px 3px 3px rgba(22, 22, 24, 0.6);
  top: 50px;
  left: 39%;
  padding: 25px;
  width: 600px;
  max-width: 600px;
  max-height: 710px;
  list-style-type: none;
  overflow-x: hidden;
  margin: 5px;
  margin-top: 20px;
  border-radius: 5px;
}

.delete-button {
  margin: auto 0px 0px auto;
  border-radius: 5px;
  border: none;
  font-size: 12px;
  height: min-content;
  border: 1px solid gray;
}

.edit-button {
  margin: auto 0px 0px 0px;
  border-radius: 5px;
  border: none;
  font-size: 12px;
  height: min-content;
  border: 1px solid gray;
}

.update-button {
  margin: auto 0px 0px auto;
  border-radius: 5px;
  border: none;
  font-size: 12px;
  height: min-content;
  border: 1px solid gray;
}

.cancel-button {
  margin: auto 0px 0px 0px;
  border-radius: 5px;
  border: none;
  font-size: 12px;
  height: min-content;
  border: 1px solid gray;
}

.delete-button-post {
  margin: auto 0px 0px 0px;
  border-radius: 5px;
  border: none;
  font-size: 12px;
  height: min-content;
  border: 1px solid gray;
}

.edit-button-post {
  margin: auto 0px 0px 0px;
  border-radius: 5px;
  border: none;
  font-size: 12px;
  height: min-content;
  border: 1px solid gray;
}

.comment-box-text {
  font-family: "Roboto", sans-serif;
  color: white;
}

.comment-box {
  display: flex;
  border: 1px solid gray;
  background-color: white;
  margin-bottom: 5px;
  border-radius: 5px;
  padding: 5px;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 5px;
  border: 2px solid black;
  background-color: rgb(26, 26, 26);
  box-shadow: 0px 0px 3px 3px rgba(22, 22, 24, 0.6);
  color: white;
}

.new-comment-box {
  width: 481px;
  border-radius: 5px;
  font-family: "Roboto", sans-serif;
  border: 2px solid black;
  background-color: rgb(26, 26, 26);
  box-shadow: 0px 0px 3px 3px rgba(22, 22, 24, 0.6);
  color: white;
}

.add-comment {
  margin: auto 0px 0px 0px;
  border-radius: 5px;
  font-family: "Roboto", sans-serif;
}

.commentBox {
  margin-top: 5px;
  display: flex;
  justify-content: flex-end;
  width: 600px;
}

.commentsDisplay {
  /* background-color: #f5dfc9; */
  width: 600px;
  border-radius: 5px;
  /* border: 2px solid black; */
  /* background-color: rgb(26, 26, 26); */
  /* box-shadow: 0px 0px 3px 3px rgba(22, 22, 24, 0.6); */
  color: white;
}

.postTextDisplay {
  display: flex;
  flex-direction: column;
}

.updateEditBtn {
  display: flex;
  justify-content: center;
}

#updateBtnId {
  position: relative;
  width: fit-content;
  border: 1px solid black;
  background-color: red;

  color: white;
  /* top: 40px; */
  border-radius: 10px;
  padding: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
}

#editTextArea {
  min-width: 350px;
  min-height: 100px;
  background-color:rgb(26, 26, 26);
  color: white;
  border: 1px solid white;
}

.searchPost {
  border: 2px solid black;
  border-radius: 8px;
  margin: 10px 0px 10px 0px;
  background-color: rgb(26, 26, 26);
  color: white;
  box-shadow: 0px 0px 3px 3px rgba(22, 22, 24, 0.6);
  padding: 10px;
  min-width: 500px;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#postSearchDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

#noReturnMsg {
  padding: 10px 10px 0px 10px;
  font-weight: 600;
  font-size: 20px;
}

#noReturnMsgDiv {
  border: 2px solid black;
  border-radius: 8px;
  margin: 10px 0px 10px 0px;
  background-color: rgb(26,26,26);
  color: white;
  box-shadow: 0px 0px 3px 3px rgba(22, 22, 24, 0.6);
  padding: 10px;
  min-width: 400px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.edit-post-errors {
  width: 300px;
  margin: 10px auto;
}

.edit-topic-container {
  border: 1px solid white;
  padding: 0px 10px;
  margin: 10px 0px;
}

legend {
  width: auto;
  font-size: inherit;
}

.topicPics2 {
  height: 25px;
  width: 25px;
}

.topicPics2Div {
  display: flex;
  justify-content: flex-end;
}

#postTitleArea {
  background-color:rgb(26, 26, 26);
  color: white;
  border: 1px solid white;
}

#postTextArea {
  background-color:rgb(26, 26, 26);
  color: white;
  border: 1px solid white;
}

.editTitleArea {
  background-color:rgb(26, 26, 26);
  color: white;
  border: 1px solid white;
}
