body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, a, ol, li, ul, div, span,
body, header, nav {
  font-size: 1rem;
  color: inherit;
  background-color: transparent;
  margin: 0;
  padding: 0;
  outline: 0;
  font-weight: normal;
}

h1 {
  font-size: 2rem;
}

.navbar {
  display: flex;
  list-style-type: none;
  background-color: rgb(233, 233, 233);
}

#home {
  height: 65px;
  width: 75px;
}

#welcomeTitle {
  text-align: center;
}

.loginPage {
  background-image: url('/images/nintendo.png');
  display: flex;
  justify-content: center;
}

.loginForm {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  box-shadow: 10px 10px 10px 4px rgba(22, 22, 24, 0.6);
  border-radius: 15px;
  position: relative;
  top: 220px;
  padding: 145px;
  width: 35%;
  list-style-type: none;
}

.registerUser {
  padding: 10px;
}

/* #loginTitle {

} */
